<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @session.film_id %>
</p>

<p>
  <strong>Info:</strong>
  <%= @session.info %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
