%div{:class => "container" ,:style =>"padding: 2em"}
  %h2
    ="Ticket ##{@ticket.ticket_id}"
  %p
    ="Name: #{@ticket.name}"
  %p
    ="Email: #{@ticket.mail}"
  %p
    ="Phone: #{@ticket.phone}"
  %p
    ="Pelicula: #{@film.title}"
  %p
    ="Price: #{@film.price}"