<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @ticket.ticket_id %>
</p>

<p>
  <strong>Film:</strong>
  <%= @ticket.film_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Sesion:</strong>
  <%= @ticket.sesion_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @ticket.date %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
