<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('show_Film_label')%>:</strong>
  <%= @ticket.film.name %>
</p>

<p>
  <strong><%=t('show_Name_label')%>:</strong>
  <%= @ticket.user.name %>
</p>

<p>
  <strong><%=t('show_Mail_label')%>:</strong>
  <%= @ticket.user.email %>
</p>

<p>
  <strong><%=t('show_Session_label')%>:</strong>
  <%= @ticket.session.info %>
</p>

<p>
  <strong><%=t('show_Price_label')%>:</strong>
  <%= "#{@ticket.film.price}€"%>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
