<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @ticket.film_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @ticket.session_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
